*{
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;


}

.container{
    width: 100%;
    height:100%;
    /* Smooth Scroll*/
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;


}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 98.5%;
    height:60px;
    background:rgba(247, 217, 137, 0.9)

}

.navbar ul{
    display:flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{

    margin: 0 1rem;
    padding: 1rem;

}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover{

    color: rgb(0, 0, 0);
}

section{
    display:flex;
    flex-direction: column;
    
    width: 100%;
    height:100vh;
    scroll-snap-align: center;
}


section h1{
    font-size: 4rem;

}

section p {
    font-size: 1.5rem;

}

section#inicio{
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(imagens/background_1.jpg) no-repeat center center/cover;

}

section#cal{
    
    background: url(imagens/background_2.jpg) no-repeat center center/cover;

}

section#cal h1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}
section#cal p{
    align-items: center;
    justify-content: center;
    text-align: center;
   
    

}
section#res{
    background: url(imagens/background_4.jpg)no-repeat center center/cover;
}

section#sobre{
    background:url(imagens/background_3.jpg) no-repeat center center/cover;
    
}

.hidden{

    display:none;
}

#descer{
    margin-top: 50px;
    width: 50px;
    
}


.coluna-2{
    
width: 10%;
}

.coluna-3{
width: 20%;
}


.linha{
    align-content: center;
    margin-left: 25%;
    margin-top: 1%;
    display: flex;
    display: -webkit-flex; 
    
}

.linha img{
    margin-left: 0.5rem;
    width: 1.5rem;


}

.alinhamento{
  text-align: right;
  margin-right: 1vw;
}